.right-8 {
  right: 2rem
}

.left-8 {
  left: 2rem
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-semibold {
  font-weight: 600
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}

.text-yellow-800 {
  --tw-text-opacity: 1;
  color: rgb(133 77 14 / var(--tw-text-opacity))
}

.text-yellow-100 {
  --tw-text-opacity: 1;
  color: rgb(254 249 195 / var(--tw-text-opacity))
}

.text-yellow-200 {
  --tw-text-opacity: 1;
  color: rgb(254 240 138 / var(--tw-text-opacity))
}

.text-yellow-500 {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity))
}

.text-yellow-400 {
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity))
}

.text-yellow-300 {
  --tw-text-opacity: 1;
  color: rgb(253 224 71 / var(--tw-text-opacity))
}
